<footer role="contentinfo" class="footer">
  <p><small>© {{date format="YYYY"}}. All Rights Reserved.</small></p>
  <p><small><a href="http://fernando.belaza.eu/ghost" target="_blank">Trasmoz Theme</a> by <a href="https://bsky.app/profile/fernando.belaza.eu" target="_blank">Fernando Belaza</a>, based on <a href="http://ghostium.oswaldoacauan.com/" target="_blank">Ghostium Theme</a> by <a href="http://twitter.com/oswaldoacauan" target="_blank">@oswaldoacauan</a></small></p>
  <p><small>Publicado en <a href="http://ghost.org" target="_blank">Ghost</a></small></p>
</footer>
